@import "Pages/login.scss";
@import "Pages/signup.scss";
@import "Pages/subjects-admin.scss";
@import "Pages/groups-admin.scss";
@import "Pages/lessons-admin.scss";
@import "Pages/assignments-admin.scss";
@import "button.scss";
@import "menu.scss";
@import "title.scss";
@import "css-vars.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    background-color: var(--light);
}

.layout--menu {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .content {
        width: 100%;
        padding: 40px 60px 0 60px;
    }
}
