@import "Pages/login.scss";
@import "Pages/signup.scss";
@import "Pages/subjects-admin.scss";
@import "Pages/groups-admin.scss";
@import "Pages/lessons-admin.scss";
@import "Pages/assignments-admin.scss";
@import "Pages/add-subject-admin.scss";
@import "Pages/group-detail-admin.scss";
@import "Pages/access-denied.scss";
@import "button.scss";
@import "menu.scss";
@import "title.scss";
@import "css-vars.scss";
@import "inputs.scss";
@import "add-edit-section.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    background-color: var(--light);
}

.layout--menu {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .content {
        width: 100%;
        padding: 40px 60px 0 60px;
    }
}


.field-validation-error {
    color: red;
    margin-top: 5px;
}

.validation-summary-errors {
    ul {
        list-style: none;
        color: red;
        margin-bottom: 15px;
        max-width: 300px;
        text-align: center;
    }
}

.required {
    color: red;
}
textarea {
    resize: vertical;
    max-height: 500px;
    min-height: 200px;
}