.access-denied--section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
        width: 200px;
        height: 200px;
        fill: var(--orange);
        margin-bottom: 20px;
    }
    h2 {
        font-size: 36px;
        margin-bottom: 10px;
    }
}
