@{
    Layout = "_LayoutMenu";
    ViewData["Title"] = "Завдання";
}

<div class="title">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="assignments-student--section">
    <div class="inner">
        <div class="assignments-student--section-list">
            <div class="assignments-student--section-list-item">
                <h3>Назва</h3>
                <p>Програмна інженерія</p>
                <a href="#">Детальніше</a>
                <div class="datetime">
                    <h5 class="date">27.04</h5>
                    <h5 class="time">15:00</h5>
                </div>
            </div>
            <div class="assignments-student--section-list-item">
                <h3>Назва</h3>
                <p>Програмна інженерія</p>
                <a href="#">Детальніше</a>
                <div class="datetime">
                    <h5 class="date">27.04</h5>
                    <h5 class="time">15:00</h5>
                </div>
            </div>
        </div>
    </div>
</div>