@{
    ViewData["Title"] = "Реєстрація";
}


<div class="signup--section">
    <div class="inner">
        <img src="/icons/logo.svg" />
        <h3>Зареєструватися як</h3>
        <div class="buttons">
            <button class="button button-orange">Студент</button>
            <button class="button button-orange">Адмін</button>
        </div>
    </div>
</div>