@model StudyNow.Web.Models.LessonViewModel

@{
    Layout = "_LayoutMenu";
    ViewData["Title"] = "Групи";
}

<div class="title">
    <h2>Змінити заняття</h2>
</div>

<div class="add-edit--section">
    <form asp-action="EditLesson" method="post" class="inner">
        <input type="hidden" asp-for="LessonId" />
        <div class="form--block">
            <label asp-for="SubjectId">Навчальний предмет<span class="required">*</span></label>
            <select asp-for="SubjectId" class="select" asp-items="@(new SelectList(Model.Subjects, "SubjectId", "Name"))"></select>
            <span asp-validation-for="SubjectId" class="text-danger"></span>
        </div>
        <div class="form--list" style="display: flex; gap: 50px;">
            <div class="form--block">
                <label asp-for="Location">Місце проведення</label>
                <input asp-for="Location" class="input" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form--block">
                <label asp-for="Link">Посилання</label>
                <input asp-for="Link" class="input" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
        </div>
        <div class="form--block">
            <label asp-for="LessonTime">Дата проведення<span class="required">*</span></label>
            <input asp-for="LessonTime" type="datetime-local" class="input" />
            <span asp-validation-for="LessonTime" class="text-danger"></span>
        </div>
        <div class="form--block">
            <label asp-for="Description">Опис</label>
            <textarea asp-for="Description" type="text" placeholder="Опис" class="input"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form--block">
            <label asp-for="TeacherName">Ім’я викладача<span class="required">*</span></label>
            <input asp-for="TeacherName" class="input" />
            <span asp-validation-for="TeacherName" class="text-danger"></span>
        </div>
        <div class="form--block">
            <label asp-for="GroupId">Група<span class="required">*</span></label>
            <select asp-for="GroupId" class="select" asp-items="@(new SelectList(Model.Groups, "GroupId", "Name"))"></select>
            <span asp-validation-for="GroupId" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="button button-orange">Зберегти</button>
    </form>
</div>