@model IEnumerable<StudyNow.Web.Models.SubjectViewModel>

@{
    Layout = "_LayoutMenu";
    ViewData["Title"] = "Навчальний план";
}

<div class="title">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="curriculum-student--section">
    <div class="inner">
        <div class="accordion">
            @foreach (var subject in Model)
            {
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">@subject.Name</span></button>
                    <div class="accordion-content">
                        <p>@subject.Description</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    const items = document.querySelectorAll(".accordion button");

    function toggleAccordion() {
        const itemToggle = this.getAttribute('aria-expanded');

        for (i = 0; i < items.length; i++) {
            items[i].setAttribute('aria-expanded', 'false');
        }

        if (itemToggle == 'false') {
            this.setAttribute('aria-expanded', 'true');
        }
    }

    items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>