@model StudyNow.Web.Models.SubjectViewModel

@{
    Layout = "_LayoutMenu";
    ViewData["Title"] = "Навчальні предмети";
}

<div class="title">
    <h2>Змінити навчальний предмет</h2>
</div>

<div class="edit-subject-admin--section add-edit--section">
    <form asp-action="EditSubject" method="post" class="inner">
        <input type="hidden" asp-for="SubjectId" />
        <div class="form--block">
            <label asp-for="Name">Назва<span class="required">*</span></label>
            <input asp-for="Name" type="text" placeholder="Назва" class="input" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form--block">
            <label asp-for="Description">Опис<span class="required">*</span></label>
            <textarea asp-for="Description" type="text" placeholder="Опис" class="input"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form--block">
            <label asp-for="GroupId">Група<span class="required">*</span></label>
            <select asp-for="GroupId" class="select">
                <option disabled hidden selected> -- Виберіть групу -- </option>
                @foreach (var group in Model.Groups)
                {
                    <option value="@group.GroupId">@group.Name</option>
                }
            </select>
            <span asp-validation-for="GroupId"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button class="button button-orange" type="submit">Зберегти</button>
    </form>
</div>